body{
    margin:0;
    margin-top:0;
    padding:0;
}



#create-account-wrapper{
    height:99.9vh;
    display:grid;
    width:100%;
    align-items: center;
    justify-content: center; 
}
#create-account{
    
    display:grid;
    border-radius:8px;
    padding:2rem;
    align-items: center;
    width:100%;
    background-color:rgba(3, 56, 103, 0.353);

}

#create-heading-container{
    display:flex;
    justify-content: center;
    font-size:1.2em;
    margin:0;
}
#heading-main{
    font-family:fantasy;
    color:rgb(0, 8, 77);
    text-shadow: -2px 2px orangered;
    letter-spacing: 0.3rem;
}
#create-account-form{
    display:grid;
    gap:2rem;
    margin:0;
}

#Name , #mail, #username, #password, #confirm-password{
    background:none;
    border:none;
    padding:1em;
    letter-spacing: 0.3rem;
    color:rgba(245, 245, 245, 0.736);
    border-bottom:1px solid orangered;
}

.submit-btn , .message-box, .done-icon{
    padding:0.8em;
    background: none;
    border:3px solid rgba(23, 104, 233, 0.74);
    color:rgba(23, 104, 233, 0.74);
    width:40%;
    text-align: center;
    justify-self: center;
    border-radius:8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    transition: 0.3s;

}
.message-box{
    text-align: center;
}

.submit-btn:hover{
    background-color:rgb(23, 104, 233);
    box-shadow: 1px 1px 10px 5px rgba(245, 245, 245, 0.756);
    color:whitesmoke;
}

.message-box{
    background:none;
    color:red;
    border:3px solid red;
}

#button-container{
    display:flex;
    justify-content: center;
}

.done-icon{
    background:none;
    border:3px solid rgb(85, 240, 85);;
    display:flex;
    justify-content: center;
    font-size: 1em;
    gap: 0.5rem;
    align-items: center;

}

.font{
    color:rgb(85, 240, 85);
    font-size: 1.7em;

}


@media (max-width: 480px){
      #create-account-wrapper {
        margin:0;
        align-items: stretch;
        justify-content: stretch;
        padding: 0;
    }
    #create-account {
        border-radius: 0;
        border: none;
        width: 100%;   /* full width */
        height: 100%;  /* full height */
        padding: 0;    /* remove padding so it truly fills */
    }

    #heading-main{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    
}

.hide{
    display:none 
}


