body{
    margin:0;
}

header{
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    padding:2rem; 
    border-bottom: whitesmoke 0.5px solid;
    margin:0;
    background: #130130;
    background: linear-gradient(147deg, rgba(19, 1, 48, 1) 13%, rgba(74, 15, 0, 1) 49%, rgba(100, 20, 32, 1) 71%, rgba(19, 1, 48, 1) 100%);
}


#first-container-dashboard{
    display:flex;
    flex-direction: column;
}

#dashboard-heading-main{
    font-size:2.5em;
    font-family:"Anton";
    color:orangered;
    margin:0;
    font-weight:500;
}

#dashboard-heading-sub{
    font-size:1.5em;
    font-family:"Anton";
    color:azure;
    font-weight:300;
    margin:0
}

#span-1{
    font-size:1.8em;
    font-weight:100;
}
#span-2-user-name{
    color:yellow;
}

#second-container-dashboard{
    /* display:grid;
    grid-template-columns: auto auto auto auto; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
}

.dashboard-nav-container:hover{
    box-shadow: 2px 2px 50px 5px rgba(245, 245, 245, 0.263);
}

.dashboard-nav-container{
    border:0.5px solid rgba(245, 245, 245, 0.532);
    background-color: rgba(240, 248, 255, 0.319);
    display:flex;
    width:18vw;
    height:17vh;
    justify-content: space-evenly;
    padding:1rem;
    border-radius:7px;
    transition: 0.1;
}
.content-nav-container{
    padding:0.5rem;
    display:grid;

}
.content-heading-nav{ 
    font-size:1em;
    letter-spacing:0.1rem;
    font-weight:400;
    color:rgba(0, 0, 0, 0.549);
    font-family:"Poppins", sans-serif;
}
.content-span{
    font-size:1.1em;
    font-family:'Anton', sans-serif;
    color:rgb(240, 248, 255);


}

.img-nav-container{
    padding:0.5rem;
    display:flex;
    font-size:0.5em;
   
    align-items: center;
}

main{
   background-color: rgb(11, 0, 30);
   padding:2rem;

}

#model-prediction{
    padding:2rem;
}


#model-heading-dynamic{
    
    display:flex;
    justify-content: center;
    padding:0.5rem;
    letter-spacing:0.2rem;
    margin:0;
    color:whitesmoke;
    font-family:'Roboto', sans-serif;
}

#model-sub-heading-dynamic{
   
    padding:0.5rem;
    margin:0;
    color:whitesmoke;
    font-family:"Roboto", sans-serif;
    font-weight:100;
    display:flex;
    justify-content: center;
    letter-spacing:0.2rem;
}

#models-wrapper{
    margin-bottom:5rem;
    margin-top:5rem;
    display:flex;
}

#restaurant-info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
#restaurant-info-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
#restaurant-info-wrapper, #prediction-result-table, #restaurant-info{
    border:2px solid white;
    margin:1rem;
    padding:1rem;
    background-color:rgba(240, 255, 255, 0.76);
    width:50%;
    border-radius:8px;
}

#prediction-result-table{
    display:grid;
    grid-auto-flow:row;
    grid-template-rows:0.1fr 0.1fr 1fr
}

.restaurant-info-heading-wrapper, .prediction-result-heading-wrapper{
    display:flex;
    justify-content: center;
    align-items:center;
    color:whitesmoke;
    gap:1rem;
} 


.restaurant-info-heading, .prediction-table-heading{
    font-size:2em;
    font-family:fantasy;
    color:rgb(31, 3, 124);
    letter-spacing:0.2rem;
}
#model-confidence-wrapper{
    display:flex;
    justify-content: space-between;
    gap:1rem;
}

.prediction-heading,.dynamic-prediction-score-heading{
    padding:0.5rem;
    width:50%;
    font-family:"Poppins";

    display:flex;
    justify-content: center;
    border-radius:8px;
    letter-spacing:0.1rem;
}

.prediction-heading{
    color:orangered;
    
}

.dynamic-prediction-score-heading{
    border:0.5px solid orangered;
    display:flex;
    align-items: center;
    color:aliceblue;
    background-color:rgb(145, 173, 245);
}

#model-list {
    width:100%;
    background:none;
}

.result-wrapper{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:1rem;
    margin:0.5rem;

}
.result-heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5em;
    letter-spacing:0.2rem;
    color:rgb(31, 3, 124);
    padding:0.3rem;
}

.prediction_result_wrapper{
    width:35vw;
    margin:0;
}


.span-wrapper{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
}

.result-container-1{
   
    display:flex;
    gap:0.5rem;
    flex-direction: column;
}

.result-span{
    border:0.5px solid orangered;
    width:fit-content;
    background-color:rgb(145, 173, 245);
    padding:1rem;
    font-family: 'Roboto Mono', monospace;
    border-radius:5px;
}

.prediction-accuracy-wrapper{
    display:none;
}
.result-container-2{
    display:flex;
    gap:0.5rem;
    justify-content: center;
    flex-direction:column;
}

#piechart {
  margin: 0 auto; 
}



.wrapper{
    color:whitesmoke;
    border-radius:8px;
    padding:1rem;
}

.selector-wrapper{
    display:flex;
    align-items: center;
    margin-top:0.5rem;
}
   

.recent-prediction {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  width: 100%; /* instead of fit-content */
}

.prediction-accuracy-wrapper{
    border:2px solid white;
}
.label-wrapper{
    font-family:"Poppins";
    display:flex;
    margin-bottom:0.5rem;
}
.label{
    color:rgb(31, 3, 124);
    font-weight:400
}

.model-query-wrapper{
    display:flex;
    flex-direction:column;
    gap:1rem;
    
}

#logo-container{
    display:flex;
}
.content-wrapper{
    color:whitesmoke;
}

.title{
    font-size:1.2em;
    font-weight:400;
    padding:0.5rem;
    margin:0;
    color:rgb(31, 3, 124);
    font-family:"Poppins";
}
.content{
    border-bottom:0.5px solid orangered;
    padding:0.5rem;
    letter-spacing:0.2rem;
    font-family:"Poppins";
    font-weight:200;
    font-size:0.9em;
    color:orangered;
}

.button-wrapper{
    display:flex;
    margin-top:0.5rem;
    justify-content: center;
}

#submit-btn{
    width:16vw;
    height:7vh;
    border:none;
    font-family:fantasy;
    font-size:1em;
    background-color:rgba(255, 68, 0, 0.707);
    border-radius:5px;
    color:rgba(240, 255, 255, 0.638);
    transition: 0.4s;

}

#submit-btn:hover{
    background-color:orangered;
    color:azure;
    box-shadow: 2px 2px 20px 10px rgba(255, 68, 0, 0.325);
}

.cuisine_type_span{
    border:0.5px solid rgb(31, 3, 124);
    width:15vw;
    display:flex;
    cursor: pointer;
    padding:0.5rem;
    justify-content: center;
    transition: 0.3s;

}

.cuisine_type_span:hover{
    background-color:rgba(240, 248, 255, 0.795);
    color:black
}
#region-selector, #dish-name-selector, #price-for-two, #cuisine-type-selector, #cuisine-selector {
    width:100%;
    border-radius:5px;
    background:none;
    padding:0.5rem;
    color: orangered;
    border:0.5px solid rgb(31, 3, 124);
}
#cuisine-selector{
    display:flex;
    font-family:fantasy;
    flex-wrap: wrap;
    border:none;
    justify-content: space-around;
    gap:0.5rem;
    
}
.selected {
    background-color:rgb(6, 188, 6);
    color:whitesmoke;

}
.selected:hover{
    background-color:rgba(240, 248, 255, 0.795);
    color:rgb(6, 188, 6);
}


#price-for-two{
    border:none;
    border-radius:0;
    border-bottom:1px solid orangered;

}
/*Recent model section*/



#recent-info-container{
    width:90%;
    border:0.5px solid rgba(245, 245, 245, 0.663);
    background-color: rgb(2, 30, 96);
    display:flex;
    justify-self: center;
    padding:1rem;
    gap:1rem;
    flex-direction: column;
    border-radius:7px;
}


#recent-heading{
    margin:0;
    font-family: "Anton";
    font-size:2em;
    font-weight:bold;
    letter-spacing:0.2rem;
    padding:0.5em;
    color:rgb(228, 248, 248)
}

#recent-prediction-info-wrapper{
    display:flex;
    flex-direction: column;
    border-radius:7px;
    gap:1rem;
}

.recent-prediction-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  border: 0.5px solid whitesmoke;
  background-color: rgba(245, 245, 245, 0.247);
  border-radius: 8px;
  padding: 1rem;
}

.model-name-wrapper{
    
    max-width: fit-content;
    margin:0;
}

.model-name{
    font-size:1.6em;
    font-weight:400;
}

.result{
    font-size:0.9em;
    margin:0;
    color:azure
}
.prediction-accuracy-wrapper{
    display:none
    
}
.img-wrapper, .accuracy-prediction-wrapper{
    display:flex;
    justify-content: flex-end;
}

.accuracy-prediction-wrapper{
    font-size: 1.2em;
    font-family:fantasy;
    color:rgb(6, 188, 6)
}

.result, .model-name{
    letter-spacing:0.1rem;
    margin:0;
    font-family:"Poppins";
    overflow-wrap: break-word;
}

.model-name{ 
    color:whitesmoke;
    text-shadow: 2px 2px 2px orangered;
}

.last-date-time-wrapper{
    width:fit-content; 
    display: flex;
    flex-direction: column-reverse;
    gap:1rem;
}

.date-time, .time{
    font-size: 0.7em;
    font-family:'Roboto Mono', monospace;
    letter-spacing: 0.1rem;
    color:azure
}

#contact{
    background:orangered;
    padding:4rem;
}

#contact-heading-main{
    text-align: center;
    font-family:"Poppins";
    color:whitesmoke;
}

.heading-sub-contact {
    display: flex;
    justify-content: center;   /* works with flex */
    font-size: 2em;
    letter-spacing: 0.2rem;    /* keep one definition */
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

#mail-box-wrapper{
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns:0.2fr auto;
    gap:1rem;
}
#svg-container{
    
    display:flex;
    justify-content: center;
    align-items: center;
}

#contact-input{
    display:flex;
    justify-content: center;
    border:none;
    border-radius: 5px;
    height:100%;

}


#mail-img{
    display:flex;
    font-size:2em;
    justify-content: flex-end;
    
}

#contact-form-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 0.7fr 0.2fr;
    justify-content: center;
}



.send-mail , .error-contact{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  font-size:1.1em;
  font-family:fantasy;
  border-radius: 5px;
  padding:0.5em;
  background-color:#130130;
  color:whitesmoke;
  border:none;

}


/*last section*/
#last-section{
    background-color:rgb(11, 0, 30);
    padding:1rem;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 0.5fr 0.3fr; 
    justify-content: space-evenly;
    align-items: center;
}



#logo-info-container{
    font-family:"Poppins";
    color:rgba(245, 245, 245, 0.448);
    line-height:1.5;
    border-right: 0.5px solid orangered ;
}




#dev-message{
    display:grid;
    justify-content: center;
    align-self: center;
    font-weight:200;
    font-size:1.2em;
    font-family:fantasy;
    color:rgba(245, 245, 245, 0.556)
}

.developer-li{
    color:orangered;
}
#dev-ul{
    display:flex;
    padding-left:0;
    margin:0;
    list-style: none;
    gap:1rem;
    justify-content: center;}

#mail, #git, #linkedin{
    font-size:2em;
    padding:1rem;
    transition: 0.3s;
}
#mail:hover, #git:hover,#linkedin:hover{
    color:whitesmoke;
}
#mail{
    display:flex;
    
    justify-content: center;
}

#clipboard-li{
    display:grid;
    grid-auto-flow: row;
    justify-content: center;
   
}
#copy-clipboard{
    color:aliceblue;
    padding:0.5rem;
    font-family:fantasy;
    background-color:orangered;
    border-radius:8px;
}
.hide{
    display:none !important
}

.img{
    width:5vw;
    height:5vh;
    object-fit: contain;
}

.img-logo{
     width:10vw;
    height:15vh;
    object-fit: contain;
}

@media (max-width: 480px) {
  #dashboard-heading-main{
    font-size:2.2em;
  }
  #dashboard-heading-sub{
    font-size:0.8em;
  }

  .img-container-logo{
    display:none
  }

  #second-container-dashboard{
    display:grid;
    gap:1rem;
    justify-content: center;
    grid-template-columns: auto;
  }
  
  #model-prediction{
    padding:0;
  }

  #models-wrapper{
    display:flex;
    flex-direction: column;
    padding:0;
    justify-self: center;

  }

  .restaurant-info-heading{
    font-size:1.5em;
    font-family: "Anton";
    text-align: center;
  }

  #restaurant-info{
    width:fit-content;
  }
  .cuisine_type_span{
    font-size:0.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton";

  }

  .dynamic-prediction-score-heading{
    width:100%;
    display:flex;
    height:20%;
    justify-self: center;
    font-size:0.6em;
    align-self: center;

  }

  .span-wrapper{
    justify-content: center;
  }

  #model-heading-dynamic{
    text-align: center;
  }

  #model-sub-heading-dynamic{
    font-size:0.7em;
    text-align: center;
  }

  #recent-heading{
    font-size:1.5em;
  }
   
  .model-name{
    font-size:1.2em;
  }
  .result{
    font-size:0.5em;
  }

  .result-heading{
    font-size: 0.9em;
    text-align: center;
  }

  .time{
    font-size:0.5em
  }

  .date-time{
    font-size:0.5em;
  }

  .prediction-accuracy-wrapper{
    display:none;
  }

  .prediction-heading{
    font-size:0.8em
  }
 

  #prediction-result-table{
    width:fit-content;
  }
  main{
    padding:1rem;
  }

  #restaurant-info-wrapper{
    width: fit-content;
  }

  .dashboard-nav-container{
    width: auto;
  }

  #contact-heading-main{
    font-size:1em;
  }

  .heading-sub-contact{
    font-size: 0.9em !important;
  }

  .send-mail{
    font-size:0.8em !important;
    font-family:"Poppins"
  }

  #contact-form-container{
    display:grid;
    gap:0.5rem;
    grid-template-columns: 1fr;

  }

  #mail-box-wrapper{
    gap:0.2rem;
  }

  #contact-input{
    width:100%;
  }
  #last-section{
    display:grid;
    grid-auto-flow: row;
    gap:0.5rem;
    grid-template-columns: none;
  }

  .img-container{
    display:none;
  }

  #logo-info-container{
    border-right: none;
    border-bottom:0.5px solid orangered
  }

  .content-contact{
    font-size:0.7em;
    text-align: center;
  }

  #dev-message{
    font-family:"Poppins"
  }

  #submit-btn{
    width:fit-content;
    height: fit-content;
    font-family:"Anton";
    width:30vw;
    padding:0.5rem;
  }
}

.img{
    pointer-events: none;
}

